<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-danger" href="#">Nexxphlix</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['profile']">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['registrer']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['popular']">Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><strong>Logout</strong></a>
        </li>
        <li class="nav-item text-decoration-none">
          <a class="nav-link active display-none " id="log" #islogggggin name="loggati"  aria-current="page" href="#">you are logged</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
